

<ion-content>

  <div class="login_bg_bx" >
    <div class="ion-text-center logo_bx">
    
      <img src="https://picxinity.com/images/logo.png">

   <p>Let's Capture The World Together.</p>
    </div>


  
    <form class="lgn_frm">
      <div class="ion-text-center pd-3">
    <h1 class="ion-text-center">Reset Password</h1>
</div>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Enter Again</ion-label>
        <ion-input></ion-input>
      </ion-item>

   
   
      <ion-button size="large" shape="round" class="theme-btn" expand="full" color="primary">Save </ion-button>
  
   

     <h5  class="ion-text-center ">Or</h5>
    
   
  <ion-button size="large" (click)="RedirectTo('login')" shape="round" class="theme-btn facebook" expand="full" color="light" >Back To Login</ion-button>
   
  

</form>

  </div>

</ion-content>
