

<ion-content>

    <div class="login_bg_bx" >
        <div class="ion-text-center logo_bx">
        
          <img src="https://picxinity.com/images/logo.png">
    
          
   <p>Let's Capture The World Together.</p>
        </div>
    






        <form class="lgn_frm">
            <div class="ion-text-center pd-3">
          <h1 class="ion-text-center ">Personal Details</h1>
        </div>
      
      
       
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Email Address</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item >
                        <ion-label position="floating">Password</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item >
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                </ion-col>
            </ion-row>
          
            
      
     
            <ion-button size="large" shape="round" class="theme-btn ion-margin-top" (click)="RedirectTo('ask-page')" expand="full" color="primary">Continue</ion-button>
        
            <div class="ion-text-center ion-padding-top">
            <small >* You have already accepted our terms & condition and privacy policy. Just click on continue and experience a new journey.</small>
            </div>
      
       
      
      
          </form>


    </div>


   
      




</ion-content>
